# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/

# Django stuff
app.yaml
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3 
.env
.cache
C
# MacOS
.DS_Store
